
        .textos{
            display: none;
        }

        #ty1{
            background-color: yellow;
        }

        #ty2{
            background-color: purple
        }

        #ty3{
            background-color: red
        }

        #ty4{
            background-color: green
        }
